:root {
    --padding-base-vertical: 11px;
    --padding-base-horizontal: 16px;
    --padding-t-vertical: 4px;
    --padding-t-horizontal: 8px;
    --padding-s-vertical: 7px;
    --padding-s-horizontal: 12px;
    --padding-l-vertical: 11px;
    --padding-l-horizontal: 22px;
    --padding-xl-vertical: 18px;
    --padding-xl-horizontal: 24px;
    --padding-container-base: 48px;
    --navbar-height: 60px;
    --inverseGrey50: #202027;
    --inverseGrey100: #2c2c35;
    --inverseGrey200: #3c3c47;
    --inverseGrey300: #4d4d59;
    --inverseGrey400: #62626d;
    --inverseGrey500: #7e7e87;
    --inverseGrey600: #9e9ea4;
    --inverseGrey700: #c3c3c6;
    --inverseGrey800: #e4e4e5;
    --inverseGrey900: #fff;
    --background: #fff;
    --darkBackground: #17171c;
    --greyBackground: #f2f4f6;
    --darkGreyBackground: #101013;
    --layeredBackground: #fff;
    --darkLayeredBackground: #202027;
    --floatBackground: #fff;
    --darkFloatBackground: #2c2c35;
    --black: #000;
    --grey50: #f9fafb;
    --grey100: #f2f4f6;
    --grey200: #e5e8eb;
    --grey300: #d1d6db;
    --grey400: #b0b8c1;
    --grey500: #8b95a1;
    --grey600: #6b7684;
    --grey700: #4e5968;
    --grey800: #333d4b;
    --grey900: #191f28;
    --greyOpacity50: rgba(0,23,51,0.02);
    --greyOpacity100: rgba(2,32,71,0.05);
    --greyOpacity200: rgba(0,27,55,0.1);
    --greyOpacity300: rgba(0,29,58,0.18);
    --greyOpacity400: rgba(0,25,54,0.31);
    --greyOpacity500: rgba(3,24,50,0.46);
    --greyOpacity600: rgba(0,19,43,0.58);
    --greyOpacity700: rgba(3,18,40,0.7);
    --greyOpacity800: rgba(0,12,30,0.8);
    --greyOpacity900: rgba(2,9,19,0.91);
    --white: #fff;
}


.header {
	width: 100%;
	height: 60px;
	text-align: center;
}

.menu {
	float: right;
	width: 15%;
	background-color: gray;
}

.content {
	float: left;
	width: 100%;
	background-color: lime;
}

footer {
	width: 100%;
	height: 110px;
    bottom: 0;
    left: 0;
	position : absolute;
}

.paddingB110 {
    padding-bottom : 110px;
}

.menu, .content {
	min-height: 600px;
}

.p-container--default {
    max-width: 1140px;
}

.p-container {
    width: 100%;
    height: 100%;
    margin: auto;
}

.p-container--default>.p-container__inner {
    width: 92%;
    max-width: calc(100% - 48px);
    max-width: calc(100% - var(--padding-container-base));
}

.p-navbar__inner-container {
    width: 100%;
    height: 100%;
    display: flex;
}
.p-navbar__logo-container {
    display: flex;
    align-items: center;
    margin-right: 24px;
    min-height: 60px;
    min-height: var(--navbar-height);
}

.p-navbar__logo-icon {
    display: flex;
}
.p-navbar--bg-transparent .p-navbar__content {
    background-color: transparent;
}
.p-navbar__menu {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.p-navbar__item {
    padding: 0 8px;
    color: #4e5968;
    color: var(--grey700);
    white-space: nowrap;
    list-style-type: none;
}

.menu_a {
    padding: 12px 10px;
    font-size: 30px;
    line-height: 20px;
    color: currentColor;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.fill {
  object-fit: fill;
  background-color:transparent;
}

#mArticle {
    position: relative;
    max-width: 800px;
    padding: 0 0 0;
    margin: 0 auto;
}
.recruit_intro {
    padding: 0 18px;
}
.recruit_intro .tit_intro {
    min-width: 300px;
    margin: 0 auto;
    padding: 49px 6px 41px;
    font-size: 32px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #000;
}
.recruit_list {
    margin-top: 30px;
    min-height: 330px;
}
.recruit_list .list_board {
    margin: 0 -18px;
}
dl, li, menu, ol, ul {
    list-style: none;
}
.recruit_list .list_board .link_tit {
    position: relative;
    display: block;
    padding: 22.5px 75px 22.5px 24px;
    font-weight: 700;
}
.recruit_list .list_board .tit_board, .recruit_list .list_board .tit_date {
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}
.recruit_list .list_board .tit_date {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 16px;
    line-height: normal;
    text-align: right;
    color: red;
}
.recruit_list .list_board .txt_desc {
    font-size: 13px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #888;
}
.list_board .txt_desc {
    display: block;
    padding-top: 10px;
    font-size: 13px;
    color: #888;
}
blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}
.main_search .search_box {
    position: relative;
    margin-bottom: 12px;
}
.main_search .box_form {
    position: relative;
    padding: 17px 41px 17px 50px;
    border-radius: 10px;
    background-color: #eee;
    height: 70px;
}
.main_search .box_form .tf_search {
    width: 100%;
    outline: 0 none;
    border: 0;
    font-size: 17px;
    line-height: 24px;
    color: #111;
    background-color: transparent;
    margin-left:30px;
}
.main_search .box_form .btn_search {
    position: absolute;
    top: 0;
    left: 0;
    padding: 18px 10px 18px 16px;
    height: 70px;
}
.main_search .box_form .btn_search .ico_search {
    width: 40px;
    height: 40px;
    background-image: url(/images/career_search_button2.png);
}
.btn_search, .ico_accordion, .ico_delete, .ico_search {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    font-size: 1px;
    line-height: 0;
    color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
}

field-set, img {
    border: 0;
}
.main_search .sel_form {
    position: relative;
    padding: 18.5px 18px 18.5px 19px;
    border-radius: 10px;
    background-color: #eee;
    height : 70px;
}
.main_search .sel_form .sel_search {
    width: 100%;
    outline: 0 none;
    border: 0;
    font-size: 16px;
    line-height: 24px;
    color: #040404;
    background-color: transparent;
}
button, input, select, textarea {
    vertical-align: middle;
    font-size: 100%;
}
.recruit_detail {
    padding: 0 24px;
}
.recruit_detail .tit_intro {
    padding: 50px 0 30px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.29;
    color: #000;
}
.recruit_detail .info_desc, .recruit_detail .tit_intro {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}
.recruit_detail .info_desc {
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.23;
    color: #888;
}
.recruit_detail .cont_desc {
    min-height: 100vh;
    padding: 5px;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-weight: 500;
    margin-top: 10vh;
}
.recruit_detail .desc_cont {
    position: relative!important;
}
.recruit_detail .tit {
    display: none;
    display: block!important;
    position: absolute!important;
    top: -59px!important;
    padding: 24px 0!important;
    text-align: left!important;
    width: 100%!important;
    border: none!important;
    color: #000!important;
    font-weight: 700!important;
    font-size: 17px!important;
}
.recruit_detail .cont {
    margin-top: 25px!important;
    padding-left: 0!important;
}
.recruit_detail .item_card {
    padding: 15px 20px;
    margin: 30px 0;
    border-radius: 10px;
    background-color: #eee;
    font-size: 14px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #222;
}


